body {
	background-color: #AAAAAA;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 0.5em 0em;
}

h2 {
	font-size: 1.5em;
	margin: 0.3em 0em;
}

h3 {
	font-size: 1em;
	margin: 0.1em 0em;
}

#header {
	background-color: #DDDDDD;
	border: 2px solid black;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 0px;
}

#content {
	background-color: #DDDDDD;
	border: 2px solid black;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: left;
	padding: 5px;
}

/*navigatie*/
#nav {
	padding: 0.2em 0em;
}

#kopjes {	
	font-size: 1.2em;
	border: none;	
}

.kopje {
	display: inline-block;
	margin: 0em 2em;
}

.links {
	width: 100%;
	font-size: 1.2em;
	display: none;
}

.links a {
	margin: 0em 0.2em;
	text-decoration: none;
}
/*einde navigatie*/

.code {
	font-family: "Courier New", Courier, monospace;
	color: #222222;
}

/*Maar op 1 pagina?*/
.anders {
	color: #0000F0;
}
#grafiek {
	width: 500px;
	height: 500px;
}

#mode {
	width: 12ch;
	display: inline-block;
}

#aantal {
	width: 24ch;
}