body {
	background-color: #483d8b;
}

body div {
	background-color: #7cdcf6;
	text-align: center;
	border: 2px solid black;
	border-radius: 5px;
}

#header {
	
}

#content {
	text-align: left;
	padding: 5px;
}

#footer {
	background-color: #483d8b;
	border:none;

}

h1 {
	font-size: 20px;
	margin: 2px;
}

h2 {
	font-size: 17px;
}